{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-4">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}