{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<h2>List of posts:</h2>
<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for post in posts %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{ asset(post.image) }}" alt="Profile picture" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="m-0">Created by: {{ post.user.username }}</p>
                </div>
                <div class="js-dropdown">
                    <i class="bi bi-three-dots-vertical dropdown-menu-icon"></i>
                    <div class="dropdown-menu" tabindex="-1">
                        <a href="{{ path('edit-post', {id: post.id}) }}"><i class="bi bi-pencil-fill me-2"></i>Edit</a>
                        <span data-id="{{ post.id }}" class="js-delete"><i class="bi bi-trash-fill me-2"></i>Delete</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(function () {
        // showing an alert to the user, because he clicked on the delete button
        $('.js-delete').on('click', function () {
            showCustomModal({
                title: 'Alert',
                message: 'Are you sure you want to delete the post?',
                type: 'danger',
                buttons: [
                    {
                        label: 'No',
                        class: 'btn btn-secondary'
                    },
                    {
                        label: 'OK',
                        class: 'btn btn-danger',
                        onClick: () => {
                            $.post('/post/delete-' + $(this).data('id'), function () {
                                location.reload();

                                // TODO make it seemless without reload
                            });
                        }
                    }
                ]
            });
        });
    });
</script>
{% endblock %}
